<select class="form-control">
  <option value="">Select user type</option>
  <% userRole.forEach(function(userType){ %>
      <option value=""><%=userType.role_name %></option>
  <% }) %>
</select>
