<select class="form-control" name="userType">
  <option value="">Select user type</option>
  <% userRole.forEach(function(userType){ %>
      <option value="<%=userType.id %>"><%=userType.role_name %></option>
  <% }) %>
</select>
